Importing

In [185]:
import pandas as pd

Loading data

In [186]:
df = pd.read_csv('wine.csv')

Setting limit to display

In [187]:
pd.options.display.max_rows = 5
pd.options.display.max_columns = 30

Various beginner things

In [188]:
df

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [189]:
df.head(3)

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185

In [190]:
df.columns

Index(['Wine', 'Alcohol', 'Malic.acid', 'Ash', 'Acl', 'Mg', 'Phenols',
       'Flavanoids', 'Nonflavanoid.phenols', 'Proanth', 'Color.int', 'Hue',
       'OD', 'Proline'],
      dtype='object')

In [191]:
df['Ash'][1]   # Column X Row format indexing

2.14

In [192]:
df.iloc[1][3]    # Row X Column format indexing

2.14

In [193]:
df.iloc[3:12]

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,1,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510
11,1,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280

Sorting

In [194]:
df2 = df.sort_values(['Alcohol','Mg'], ascending=[1,0])  # Sort Alcohol in ascending, Mg desc
df2
df2.iloc[1,2]

0.74

Add column

In [195]:
df['HUE OD'] = df['Hue'] + df['OD']
df

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline,HUE OD
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,4.96
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,4.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2.22
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,2.21

Drop column

In [196]:
df = df.drop(columns=['Nonflavanoid.phenols'])
df

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Proanth,Color.int,Hue,OD,Proline,HUE OD
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,2.29,5.64,1.04,3.92,1065,4.96
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,1.28,4.38,1.05,3.40,1050,4.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,1.46,9.30,0.60,1.62,840,2.22
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,1.35,9.20,0.61,1.60,560,2.21

In [201]:
col = list(df.column)
df = df[col[0]]
df

AttributeError: 'Series' object has no attribute 'column'